/*Reseteo/Reinicio de los márgenes y paddings para todos los elementos de la página*/
*{
    /*Elimina el margen*/
    margin: 0;
    /*Elimina el relleno*/
    padding: 0;
}
body{
    margin: 50px 0px;
}
/*Estilo del contenedor del menú de navegación*/
nav{
    /*Márgenes del menú con ordenación de relo: 1º arriba, 2º derecha, 3º abajo y 4º izquierda*/
    margin: 0px 0px 0px 0px;
    /*Ancho a los bloques/celdas situados dentro del navegador, del nav*/
    width: 100%;
    /*Altura a los bloques/celdas situados dentro del navegador, del nav*/
    height: 50px;
    /* border: #cf091e 1px solid; */
    display: flex;
    /*Centra el conteido del "nav"*/
    justify-content: center;
}
/*Estilo para el contenido  de las listas (<ul>)*/
ul{
    /*Eliminar las viñetas/estilo*/
    list-style-type: none;
    /*Altura*/
    height:100%;
    /*Ancho*/
    width: 80%;
}
/*Estilo para el contenido escrito en las listas, para los los elementos dentro o de lista (<li>)*/
li{
    /*Ancho fijo*/
    width: 150px;
    /*Altura fija*/
    height: 50px;
    /*Posicionamiento de las listas respecto al padre*/
    position: relative;
    /*Alinea los elementos principales de las listas de forma horizontal*/
    float: left;
    /*Tiempo de transición*/
    transition: 0.3s linear;
}
/*Estilo interactivo impuesto sobre los elementos situados en la lista al pasar el cursos por encima*/
a{
    /*Aparición de los elementos, del texto*/
    display: block;
    /*Altura fija*/
    height: 100%;
    /*Quitar el subrayado/estilo predeterminado de los enlaces*/
    text-decoration: none;
    /*Centralización del tetxo respecto a la celda en donde se encuentra*/
    text-align: center;
    /*Estilos del contenido escrito, del texto; tipografía/estilografía*/
    font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    /*Estilo tipográfico en negrita*/
    font-weight: 900;
    /*Tamaño fijo del texto*/
    font-size: 12px;
    /*Altura fija de la que partir al escribir como punto más alto de la línea para espaciar*/
    line-height: 60px;
    /*Margen*/
    margin: 5px;
    /*Centrar texto*/
    text-align: center;
    /*Tiempo de transición*/
    transition: 0.3s linear;
    /*Color de Texto*/
    color: #333333;
}
/*Estilo interactivo impuesto sobre los elementos situados dentro de la lista, a los textos, al pasar el cursos por encima*/
a:hover{
    /*Nebrita del texto*/
    font-weight: 900;
}
/*Estilo a "Menu"*/
.Menu a{
    /*Color de Texto*/
    color: #cf091e;
}
/*Estilo a "Menu8"*/
.Menu8 a{
    /*Color de Texto*/
    color: #66b469;
}
.verde a{
    /*Color de Texto*/
    color: #66b469;
}/*Estilo específico sobre el posicionamiento de los elementos situados dentro de las listas situadas dentro del nav*/
nav li{
    /*Posicionamiento de los submenús*/
    position: relative;
    /*Alinea los elementos principales del menú de forma horizontal*/
    float: left;
}
/*Estilo interactivo impuesto a los textos situados dentro de las lista al pasar el cursos por encima*/
li:hover>a{
    /*Color de Texto*/
    color: #ffffff;
}
/*Estilo interactivo impuesto sobre los elementos situados en la lista al pasar el cursos por encima*/
li:hover{
    /*Color de Fondo*/
    background-color: #222222;
    /*Color de Texto*/
    color: #ffffff;
}
/*Acción de mostrar el submenú cuando el cursor pasa sobre el elemento padre, lista en este caso*/
nav li:hover>ul{
    /*Aparición de los elementos, de la interación al pasar el cursor sobre las listas*/
    display: block;
}
/*Estilo para submenús de segundo nivel, es decir, para los elementos situados dentro de las listas*/
nav li > ul{
    /*Ocultamiento inicial sobre o de los submenús, de las listas situadas dentro de las listas*/
    display: none;
    /*Posición relativa al contenedor principal o posición original*/
    position: absolute;
    /*Alineación del elemento respecto al padre, desde izquierda*/
    left: 0%;
    /*Se posiciona/coloca debajo del elemento padre*/
    top: 100%;
}
/*Estilo/s para el "submenu"*/
.submenu{
    /*Ocultamiento inicial sobre o de los submenús, de las listas situadas dentro de las listas*/
    display: none;
    /*Posición relativa al contenedor principal o posición original*/
    position: absolute;
    left: 0;
    /*Se posiciona/coloca debajo del elemento padre*/
    top: 100%;
    /*Activa los elementos que vat y*/
    display: flex;
    /*Color de fondo*/
    background: white;
    /*Ancho*/
    width: 425px;
    /*Relleno*/
    padding: 10px;
    /*Sombre*/
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    visibility: hidden;
    opacity: 0;
}
.Menu2:hover>.submenu{
    visibility: visible;
    opacity: 1;
}
/*Aplica al/a los bloques*/
.bloque li{
    /*Ancho*/
    width: 200px;
}
/*Aplica al/a los bloques del ul*/
ul.bloque{
    /*Ancho*/
    width: 200px;
}
/*Estilo/s para las "columna" y los "submes"menus el "submenu"*/
.submenu .columna{
    /*Activa los elementos que van con "flex"*/
    flex: 1;
}
.submenu ul{
    /*Rellemo*/
    padding: 0;
}
/*Aplica al/a los submenus cuando el cursor se encuentraddw*/
nav li:hover .submenu{
    /*Activa los elementos que vat y*/
    display: flex;
}